%commongrid{
    grid-column: 2/3;
    display: grid;
    column-gap: 10px;
    row-gap: 30px;
    grid-auto-flow: row;
    grid-template: 1fr / repeat(auto-fit, minmax(200px,auto))  ;
    /* grid-template-columns: repeat(3, minmax(200px,32%)) ; */
    margin: 0 25%;
}
%adaptationimage{
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Адаптируем наше изображение */
}

.gallery {
    padding: 0 0 0 5%;
}
.gallery__items_hobbies{
    display: none;
}
.gallery__items_hobbies.active {
   @extend %commongrid;
}
.gallery__items_projects.active
{
    @extend %commongrid;
}
.gallery__items_projects{
    display: none;
}
.gallery__image {
    position: relative;
    padding: 0 0 90% 0;
    margin: 0 0 20px 0;
}
.gallery__item{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr; /* Нужен для  того чтобы колонки подстраивались друг под друга */
    grid-template: 1fr minmax(40px,auto) / 1fr;
}
.gallery__image img{
    @extend %adaptationimage;
}
.products__image{
    display: flex;
    background-color: rgb(236, 236, 4);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5%;
}

.Detaile{
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(180deg, rgb(39, 197, 242) 39%, rgb(66, 231, 236) 77%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.Detaile:hover{
opacity: 50%;
}